body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    overflow-x: hidden;
}

body.dark-theme {
    background: #121212;
    color: #e0e0e0;
}

:root {
    --font: 'Montserrat', sans-serif;

    --bg-primary-color: #fff;
    --bg-sec-color: #f5f5f5;
    --bg-third-color: #000000;

    --primary-color: #008000;

    --hover-bg-pri-color: #555;
    --hover-bg-sec-color: #006400;
    --hover-color: #808080;

    --shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    --shadow-1: 0 0 10px 0 rgba(129, 129, 129, .2)
}

.login-container {
    position: absolute;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    inset: 0 0 0 0;
    top: 0;
    left: 0;
    background: var(--bg-sec-color);
    /* transform: translate(-50%, -50%);     */
}

.login-container .login-box,
.login-container .signup-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: var(--bg-primary-color);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.login-container .login-box .logo,
.login-container .signup-box .logo {
    display: flex;
    align-items: center;
    min-width: 300px;
    width: auto;
    padding: 20px;
    background: #d3e2cc;
}

.login-container .login-box .logo img,
.login-container .signup-box .logo img {
    max-width: 250px;
}

.login-container .login-body,
.login-container .signup-body {
    /* flex-grow: 1; */
    /* flex-basis: 500px; */
    min-width: 300px;
    width: auto;
    /* background: var(--bg-primary-color); */
    padding: 20px;
    border-radius: 15px;
}

.login-container .login-body h2,
.login-container .signup-body h2 {
    font-weight: 600;
}

.login-container .login-body #loginForm,
.login-container .signup-body #signupForm {
    display: flex;
    flex-direction: column;
}

.login-container .login-body #loginForm .form-group,
.login-container .signup-body #signupForm .new-from-group {
    position: relative;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin: 5px 0 20px 0;
    gap: 5px;
}

.login-container .login-body #loginForm .form-group label,
.login-container .signup-body #signupForm .new-from-group label {
    font-weight: 500;
    margin: 0 0 5px 5px;
    color: var(--hover-bg-pri-color);
}

.login-container .login-body #loginForm .form-group:nth-child(1) label::after,
.login-container .login-body #loginForm .form-group:nth-child(2) label::after,
.login-container .signup-body #signupForm .new-from-group label::after {
    content: "*";
    color: red;
    margin-left: 5px;
}


.login-container .login-body #loginForm .form-group input,
.login-container .signup-body #signupForm .new-from-group input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-family: var(--font);
}

.login-container .login-body #loginForm .form-group input:focus,
.login-container .signup-body #signupForm .new-from-group input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

.login-container .login-body #loginForm .form-group button,
.login-container .signup-body #signupForm .new-from-group button {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    padding: 5px;
    width: fit-content;
    position: absolute;
    /* color: var(--hover-bg-pri-color); */
    color: #b4b2b2;
    right: 5px;
    bottom: 4px;
}

.login-container .login-body #loginForm .form-group.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.login-container .login-body #loginForm .form-group.checkbox label {
    margin: 0;
}

.login-container .login-body #loginForm button[type="submit"],
.login-container .signup-body #signupForm button[type="submit"] {
    padding: 12px;
    font-family: var(--font);
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: var(--primary-color);
    color: var(--bg-primary-color);
    margin: 20px 0;
    transition: all 0.3 ease;
}

.login-container .login-body #loginForm button[type="submit"]:hover,
.login-container .signup-body #signupForm button[type="submit"]:hover {
    background: var(--hover-bg-sec-color);
}

.login-container .login-body #message {
    display: flex;
    align-items: center;
    gap: 10px;
    color: red;
}

.login-container .login-body #message #messageIcon svg {
    height: 20px;
    width: 20px;
}

.login-container .login-body p {
    font-weight: 400;
    font-size: 15px;
}