/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    margin-bottom: 20px;
    color: var(--blue);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark);
}

.form-group input,
.form-group select,
.form-group textarea {
    width: -webkit-fill-available;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-family: var(--font);
}

.form-group textarea {
    min-height: 100px;
    resize: vertical;
    font-family: var(--font);
}

.newOrderForm .form-group:nth-last-child(1) {
    display: flex;
    justify-content: flex-end;
}

.form-group button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    font-family: var(--font);
}

.form-group .cancel-btn {
    background-color: #dc3545;
}